Dimag full automation.json
{
  "name": "Dimag full automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -6304,
        -1696
      ],
      "id": "094d6f92-79a5-4c1a-a7f4-784883f78a3c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dimag.agency/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=image.webp"
            },
            {
              "name": "Content-Type",
              "value": "image/webp"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3856,
        -1280
      ],
      "id": "adee03e8-49a5-4891-98b2-2724d84c9f2e",
      "name": "Upload image",
      "credentials": {
        "httpBasicAuth": {
          "id": "oaj9JxTQykBEcYH2",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let html = \"\";\n\n// GET HTML\nif ($binary?.data) {\n  const buffer =\n    await this.helpers.getBinaryDataBuffer(0, 'data');\n\n  html =\n    buffer.toString('utf-8');\n}\n\n// FALLBACK\nif (!html || html.length < 100) {\n\n  return [{\n    json: {\n      ...$json,\n      error: \"HTML still empty\",\n      debug: true\n    }\n  }];\n}\n\n\n// HEAVY CLEANING\nhtml = html\n\n  // remove head/script/style/meta/link\n  .replace(/<head[\\s\\S]*?<\\/head>/gi, \"\")\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n  .replace(/<meta[^>]*>/gi, \"\")\n  .replace(/<link[^>]*>/gi, \"\")\n\n  // remove inline styles\n  .replace(/style=\"[^\"]*\"/gi, \"\")\n\n  // remove classes\n  .replace(/class=\"[^\"]*\"/gi, \"\")\n\n  // remove spans\n  .replace(/<\\/?span[^>]*>/gi, \"\")\n\n  // remove empty paragraphs\n  .replace(/<p>\\s*<\\/p>/gi, \"\")\n\n  // clean whitespace\n  .replace(/\\s{2,}/g, \" \");\n\n\n// EXTRACT BODY\nconst bodyMatch =\n  html.match(\n    /<body[^>]*>([\\s\\S]*?)<\\/body>/i\n  );\n\nif (bodyMatch) {\n  html = bodyMatch[1];\n}\n\n\n// DECODE PLACEHOLDERS\nhtml = html\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>');\n\n\n// REMOVE TABLE WRAPPER\nhtml = html.replace(\n  /<table[^>]*>\\s*<tr[^>]*>\\s*<td[^>]*>/gi,\n  \"\"\n);\n\nhtml = html.replace(\n  /<\\/td>\\s*<\\/tr>\\s*<\\/table>/gi,\n  \"\"\n);\n\n\n// QUICK ANSWER STYLING\nhtml = html.replace(\n\n  /Quick Answer:\\s*([\\s\\S]*?)<\\/p>/i,\n\n  (match, content) => {\n\n    return `\n<div style=\"padding:50px 30px; text-align:center; font-size:20px; line-height:1.8; border-radius:8px; margin:40px 0; color:#666;\nbackground: linear-gradient(to right, rgba(0,0,0,0.02), rgba(0,0,0,0.06), rgba(0,0,0,0.02));\">\n<em>\n${content.trim()}\n</em>\n</div>\n`;\n  }\n\n);\n\n\n// HARD LIMIT\nif (html.length > 200000) {\n  html = html.substring(0, 200000);\n}\n\n\n// RETURN\nreturn [{\n  json: {\n    ...$json,\n\n    clean_content: html,\n\n    raw_html_length:\n      html.length,\n\n    has_image_markers:\n      html.includes('IMAGE')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5632,
        -1376
      ],
      "id": "112e2a06-e58c-41e2-ab15-c64910c5633e",
      "name": "Clean HTML"
    },
    {
      "parameters": {
        "jsCode": "const url = $json['Doc URL'];\n\n// handle missing URL\nif (!url) {\n  return [{\n    json: {\n      ...$json,\n      error: \"doc_url missing\",\n      status: \"failed\"\n    }\n  }];\n}\n\n// extract doc ID safely\nconst match = url.match(/[-\\w]{25,}/);\n\nif (!match) {\n  return [{\n    json: {\n      ...$json,\n      error: \"invalid doc_url\",\n      status: \"failed\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...$json,\n    docId: match[0],\n    docExportUrl: `https://docs.google.com/document/d/${match[0]}/export?format=html`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6080,
        -1376
      ],
      "id": "35392235-3370-48bf-ba5d-718e9382dba7",
      "name": "Extract Doc ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dimag.agency/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2960,
        -1376
      ],
      "id": "95c2b7bb-0a8f-4c4d-ae8f-660f53d00ae0",
      "name": "Post content",
      "credentials": {
        "httpBasicAuth": {
          "id": "oaj9JxTQykBEcYH2",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -6080,
        -1184
      ],
      "id": "da514793-5cba-4c18-adf7-fe6dfa265e15",
      "placeholder": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6256,
        -1280
      ],
      "id": "41ec8ac2-3daa-4e2b-a1e0-d44c7f888599",
      "name": "Split Blogs"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Parse SEO Metadata').first().json;\nlet content = original.clean_content;\nconst prepared = $('Prepare Images').all().map(i => i.json);\nconst uploaded = $input.all().map(i => i.json);\n\nlet featuredMediaId = null;\n\nconst featuredPrep = prepared.find(p => p.is_featured === true);\nconst inlinePreps = prepared.filter(p => p.is_featured !== true);\n\nif (uploaded.length > 0 && featuredPrep) {\n  featuredMediaId = uploaded[0].id;\n}\n\nconst debugInfo = [];\n\n// First, check what placeholders ACTUALLY exist in the content\nconst allPlaceholders = content.match(/\\[\\[IMAGE_\\d+[^\\]]*\\]\\]/g);\ndebugInfo.push('PLACEHOLDERS IN clean_content: ' + (allPlaceholders ? allPlaceholders.length : 0));\nif (allPlaceholders) {\n  allPlaceholders.forEach((p, idx) => {\n    debugInfo.push('  [' + idx + ']: ' + p.substring(0, 200));\n  });\n}\n\ndebugInfo.push('inline_preps count: ' + inlinePreps.length);\ninlinePreps.forEach((p, idx) => {\n  debugInfo.push('  prep[' + idx + '] position=' + p.position + ', placeholder=' + (p.placeholder || 'NONE'));\n});\n\ndebugInfo.push('uploaded count: ' + uploaded.length);\n\nfor (let i = 0; i < inlinePreps.length; i++) {\n  const up = uploaded[i + 1];\n  const prep = inlinePreps[i];\n  \n  if (!up || !prep) {\n    debugInfo.push('SKIP ' + i);\n    continue;\n  }\n  \n  const mediaId = up.id;\n  const imageUrl = up.source_url || up.guid?.rendered || up.guid?.raw;\n  const altText = (prep.alt_text || '').replace(/\"/g, '&quot;');\n  const position = prep.position;\n  \n  const imageHtml = '<figure class=\"wp-block-image size-large\"><img src=\"' + imageUrl + '\" alt=\"' + altText + '\" class=\"wp-image-' + mediaId + '\" loading=\"lazy\"/></figure>';\n  \n  const regex = new RegExp('\\\\[\\\\[IMAGE_' + position + '[^\\\\]]*?\\\\]\\\\]', 'g');\n  const matches = content.match(regex);\n  debugInfo.push('Replacing IMAGE_' + position + ': found ' + (matches ? matches.length : 0));\n  \n  content = content.replace(regex, imageHtml);\n  \n  const wrapRegex = new RegExp('<p[^>]*>\\\\s*\\\\[\\\\[IMAGE_' + position + '[\\\\s\\\\S]*?\\\\]\\\\]\\\\s*</p>', 'g');\n  content = content.replace(wrapRegex, imageHtml);\n}\n\nconst remaining = content.match(/\\[\\[IMAGE_\\d+[^\\]]*\\]\\]/g);\ndebugInfo.push('REMAINING after replacement: ' + (remaining ? remaining.length : 0));\n\nreturn [{\n  json: {\n    ...original,\n    final_content: content,\n    featured_media: featuredMediaId,\n    featured_alt: original.featured_alt || '',\n    debug_info: debugInfo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3408,
        -1376
      ],
      "id": "674c7949-75f9-4be7-b349-c931fd9a0e97",
      "name": "Inline image insertion"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Blog Pipeline",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6080,
        -1696
      ],
      "id": "98e847ad-d987-4f57-89f2-bb2880d3e1d0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fSxvPKKWdM2zo3SQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.docId}}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "=data",
          "googleFileConversion": {
            "conversion": {
              "drawingsToFormat": "=image/jpeg"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5856,
        -1376
      ],
      "id": "b55a79cc-b137-4d7d-8e3e-14758533843f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "osbbhEuCxcBnfoDW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dimag.agency/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=image.webp"
            },
            {
              "name": "Content-Type",
              "value": "image/webp"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3856,
        -1472
      ],
      "id": "b597ca45-a934-4035-9b90-c7a796fe4021",
      "name": "Upload image Featured image",
      "credentials": {
        "httpBasicAuth": {
          "id": "1cJAYxOoe89YFwZ2",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3632,
        -1376
      ],
      "id": "842b565e-679a-46af-8892-bdd95d9ccdab",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "let html = $json.clean_content || \"\";\n\n// EXTRACT SEO TITLE\nconst seoTitleMatch = html.match(/SEO_TITLE:\\s*([^<\\n]+)/i);\nconst seo_title = seoTitleMatch?.[1]?.trim() || \"\";\n\n// EXTRACT META DESCRIPTION\nconst metaMatch = html.match(/META_DESC:\\s*([^<\\n]+)/i);\nconst meta_description = metaMatch?.[1]?.trim() || \"\";\n\n// EXTRACT URL SLUG\nconst slugMatch = html.match(/URL_SLUG:\\s*([^<\\n]+)/i);\nconst slug = slugMatch?.[1]?.trim() || \"\";\n\n// EXTRACT FEATURED ALT (NEW)\nconst featuredAltMatch = html.match(/FEATURED_ALT:\\s*([^<\\n]+)/i);\nconst featured_alt = featuredAltMatch?.[1]?.trim() || \"\";\n\n// EXTRACT FEATURED LINK (NEW)\nconst featuredLinkMatch = html.match(/FEATURED_LINK:\\s*([^<\\n]+)/i);\nconst featured_link = featuredLinkMatch?.[1]?.trim() || \"\";\n\n// REMOVE COMPLETE SEO BLOCK\nhtml = html.replace(\n  /=== SEO METADATA[\\s\\S]*?=== END METADATA ===/gi,\n  \"\"\n);\n\n// REMOVE EMPTY PARAGRAPHS\nhtml = html.replace(/<p>\\s*<\\/p>/gi, \"\");\nhtml = html.replace(/<p\\s*>\\s*<\\/p>/gi, \"\");\n\n// EXTRACT ARTICLE TITLE - try h1 first, then first non-empty p\nlet article_title = \"\";\nconst h1Matches = [...html.matchAll(/<h1[^>]*>(.*?)<\\/h1>/gi)];\nfor (const match of h1Matches) {\n  const text = match[1].replace(/<[^>]+>/g, \"\").trim();\n  if (text.length > 3) {\n    article_title = text;\n    break;\n  }\n}\n\n// If no h1, take first meaningful p as title\nif (!article_title) {\n  const pMatches = [...html.matchAll(/<p[^>]*>(.*?)<\\/p>/gi)];\n  for (const match of pMatches) {\n    const text = match[1].replace(/<[^>]+>/g, \"\").trim();\n    if (text.length > 10) {\n      article_title = text;\n      break;\n    }\n  }\n}\n\n// REMOVE FIRST H1 FROM CONTENT\nhtml = html.replace(/<h1[^>]*>\\s*<\\/h1>/gi, \"\");\nhtml = html.replace(/<h1[^>]*>.*?<\\/h1>/i, \"\");\n\n// REMOVE THE FIRST P THAT MATCHES THE ARTICLE TITLE (to avoid duplicate title in body)\nif (article_title) {\n  const escapedTitle = article_title.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const titleRegex = new RegExp('<p[^>]*>\\\\s*' + escapedTitle + '\\\\s*</p>', 'i');\n  html = html.replace(titleRegex, '');\n}\n\n// RETURN\nreturn [{\n  json: {\n    ...$json,\n    clean_content: html,\n    article_title,\n    seo_title,\n    meta_description,\n    slug,\n    featured_alt,\n    featured_link\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        -1376
      ],
      "id": "3ab55448-b941-4646-8c20-03ce433340ae",
      "name": "Parse SEO Metadata"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $('Parse Image Specs').item.json.folder_id }}' in parents and name = '{{ $('Parse Image Specs').item.json.source_filename }}' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4752,
        -1376
      ],
      "id": "65978bb8-923c-4cbf-a612-94e73980c4cf",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "osbbhEuCxcBnfoDW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveResults = items.map(i => i.json);\nconst specs = $('Parse Image Specs').all().map(i => i.json);\n\nconst output = [];\n\nfor (const spec of specs) {\n  const driveFile = driveResults.find(f =>\n    (f.name || '').toLowerCase() === (spec.source_filename || '').toLowerCase()\n  );\n\n  if (!driveFile) continue;\n\n  output.push({\n    json: {\n      id: driveFile.id,\n      name: driveFile.name,\n      direct_url: 'https://drive.google.com/uc?export=download&id=' + driveFile.id,\n      is_featured: spec.is_featured,\n      placeholder: spec.placeholder,\n      position: spec.position,\n      seo_filename: spec.seo_filename,\n      alt_text: spec.alt_text,\n      link_url: spec.link_url,\n      clean_content: spec.clean_content,\n      keyword: spec.keyword,\n      topic: spec.topic,\n      row_number: spec.row_number,\n      article_title: spec.article_title,\n      seo_title: spec.seo_title,\n      meta_description: spec.meta_description,\n      slug: spec.slug,\n      featured_alt: spec.featured_alt\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        -1376
      ],
      "id": "768344fc-4a4e-4560-a472-67c3b815a783",
      "name": "Prepare Images"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b4d4de4-5056-40ac-a8ae-e4c6cf3bff7b",
              "leftValue": "={{$json.is_featured}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4304,
        -1376
      ],
      "id": "9aeeaa88-b5b7-49fe-a94a-40980f8cc733",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{$json.direct_url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4080,
        -1472
      ],
      "id": "52358826-082e-4094-8e16-f725b980896d",
      "name": "Download Featured Image3"
    },
    {
      "parameters": {
        "url": "={{$json.direct_url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4080,
        -1280
      ],
      "id": "7c5f8a2e-7b41-4ed1-ae62-fae9d3c69c22",
      "name": "Download Inline Image2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU",
          "mode": "list",
          "cachedResultName": "DiMag_Content_Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 886259930,
          "mode": "list",
          "cachedResultName": "Blog Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit#gid=886259930"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Parse SEO Metadata').first().json.row_number }}",
            "Status": "published",
            "Published URL": "={{ $json.link }}",
            "Published Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Target Keyword",
              "displayName": "Target Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Focus",
              "displayName": "Client Focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Funnel Stage",
              "displayName": "Funnel Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Planned Date",
              "displayName": "Planned Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Doc URL",
              "displayName": "Doc URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Folder URL",
              "displayName": "Image Folder URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published URL",
              "displayName": "Published URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published Date",
              "displayName": "Published Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2736,
        -1376
      ],
      "id": "ff5f9e93-0f37-4121-9e04-c5948c753acc",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fSxvPKKWdM2zo3SQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    title: $json.article_title,\n\n    content: $json.final_content,\n\n    status: \"publish\",\n\n    slug: $json.slug,\n\n    featured_media:\n      $json.featured_media,\n\n    meta: {\n      _yoast_wpseo_title:\n        $json.seo_title,\n\n      _yoast_wpseo_metadesc:\n        $json.meta_description,\n\n      _yoast_wpseo_focuskw:\n        $json.focus_keyword\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        -1376
      ],
      "id": "36d3cffc-2067-4ca5-a35d-d466dbdd91ed",
      "name": "Build payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17c8ae1c-c7e1-444f-9a86-9dbe02e07322",
              "leftValue": "={{ $json.Status?.trim().toLowerCase() === 'pending' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5856,
        -1696
      ],
      "id": "11d010a8-800f-4e3e-875a-de27d212f83d",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -5632,
        -1696
      ],
      "id": "5634623f-edcd-4567-a1ba-83971e228c38",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Read the current row from the sheet\nconst row = $json;\n\nconst topic = row['Topic'] || '';\nconst keyword = row['Target Keyword'] || '';\nconst clientFocus = row['Client Focus'] || 'All';\nconst funnelStage = row['Funnel Stage'] || 'MOFU';\n\n// Build the generator prompt\nconst prompt = `You are a senior content writer for DiMag, an AI-first digital marketing agency based in Bangalore serving clients across India, USA, GCC and Europe in healthcare, D2C ecommerce, B2B SaaS, retail, hyperlocal services and education.\n\nWrite a complete, publish-ready, SEO-optimized blog post on the topic and target keyword provided.\n\nThe audience is business owners and decision-makers evaluating how to grow through digital marketing.\n\nThe goal is to rank in search, demonstrate DiMag's expertise and build trust with potential clients.\n\nTOPIC: ${topic}\n\nTARGET KEYWORD: ${keyword}\n\nCLIENT FOCUS: ${clientFocus}\n\nFUNNEL STAGE: ${funnelStage}\n\nOUTPUT FORMAT (FOLLOW EXACTLY)\n\n=== SEO METADATA ===\nSEO_TITLE: [Compelling title under 60 characters, include the target keyword, end with | Dimag]\nMETA_DESC: [Under 155 characters, include the target keyword, action-oriented]\nURL_SLUG: [Lowercase hyphenated slug from keyword]\nFEATURED_ALT: [Descriptive alt text for the hero image]\nFEATURED_LINK: https://dimag.agency\n=== END METADATA ===\n\n[H1] Blog Title\n\nOpening section:\nWrite 2 to 3 short paragraphs that:\n- Identify the problem\n- Explain the business impact\n- Preview what the article will cover\n- Include the target keyword naturally in the first paragraph\n\n[H2] First Main Section\n\n2 to 4 paragraphs of detailed, practical advice.\n\n[[IMAGE_1|descriptive keyword-rich alt text|https://dimag.agency]]\n\n[H2] Second Main Section\n\nDetailed content.\n\n[H2] Third Main Section\n\nDetailed content.\n\n[[IMAGE_2|descriptive keyword-rich alt text|https://dimag.agency]]\n\n[H2] Additional Sections As Needed\n\nCreate enough sections to fully cover the topic.\n\nUse [H3] headings whenever explaining:\n- Processes\n- Frameworks\n- Checklists\n- Methodologies\n- Step-by-step implementation\n\nExample:\n\n[H3] Step 1: Define Campaign Objectives\n\n[H3] Step 2: Build Audience Segments\n\n[H2] How DiMag Can Help\n\nWrite one helpful paragraph connecting the topic to DiMag's expertise.\nKeep it credible and educational, not salesy.\n\n[H2] Frequently Asked Questions\n\nQ1. Question\n\nA. Answer\n\nQ2. Question\n\nA. Answer\n\nQ3. Question\n\nA. Answer\n\nQ4. Question\n\nA. Answer\n\nQ5. Question\n\nA. Answer\n\nQ6. Question\n\nA. Answer\n\nCONTENT REQUIREMENTS\n\n- Use 5 to 8 meaningful H2 sections.\n- Every H2 must provide a unique insight.\n- Avoid generic headings such as Introduction, Overview, Benefits or Conclusion.\n- Include the target keyword or a close variation in at least 2 H2 headings.\n- Use 2 to 4 image markers throughout the article.\n- Every section must provide practical, actionable advice.\n- Write 1400 to 1800 words.\n\nSTRICT WRITING RULES\n\n- Never use Markdown headings (#, ##, ###).\n- Use only [H1], [H2] and [H3] markers.\n- The article title must begin with [H1].\n- Every major section must begin with [H2].\n- Use [H3] only where it improves clarity.\n- Never use em dash or en dash.\n- Never use the Oxford comma.\n- Never use emojis.\n- Never fabricate statistics, percentages or study results.\n- Never put a year in the SEO title or headings unless the topic is date-specific.\n- Write in clear professional prose.\n- Avoid bullet point spam.\n- Be specific and practical.\n- Write like an experienced consultant, not a generic AI writer.\n- Output ONLY the blog.\n- Do not include explanations, notes or commentary outside the article.`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    topic: topic,\n    keyword: keyword,\n    row_number: row.row_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        -1696
      ],
      "id": "980e822d-09d8-4d0d-93a9-eb324a5bb871",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5184,
        -1712
      ],
      "id": "02f5056f-9f37-41cb-ad37-d88c57fa4653",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "folderId": "=117YMq_FzbfB7pD0QYmi8CT7h0wl2UFu_",
        "title": "={{ $json.topic }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -4608,
        -1728
      ],
      "id": "8f57c9ed-2c3b-4ae0-b234-928643cbe971",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SHsjPTGFaZFvZ8hz",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create a document').first().json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Format Headings').first().json.formatted_content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -4320,
        -1984
      ],
      "id": "bfb35905-af63-4e09-b2bd-014b77aa08f7",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SHsjPTGFaZFvZ8hz",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst blogText = response.content?.[0]?.text || '';\n\n// Carry forward the row data from Build Prompt\nconst buildData = $('Build Prompt').first().json;\n\nreturn [{\n  json: {\n    blog_text: blogText,\n    topic: buildData.topic,\n    keyword: buildData.keyword,\n    row_number: buildData.row_number,\n    output_tokens: response.usage?.output_tokens || 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4992,
        -1696
      ],
      "id": "c213c32f-82d0-48a3-829f-0ab003e5e0c9",
      "name": "blog_text"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU",
          "mode": "list",
          "cachedResultName": "DiMag_Content_Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 886259930,
          "mode": "list",
          "cachedResultName": "Blog Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit#gid=886259930"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "draft_ready",
            "Doc URL": "={{ 'https://docs.google.com/document/d/' + $('Create a document').first().json.id + '/edit' }}",
            "row_number": "={{ $('blog_text').first().json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Target Keyword",
              "displayName": "Target Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Focus",
              "displayName": "Client Focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Funnel Stage",
              "displayName": "Funnel Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Planned Date",
              "displayName": "Planned Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Doc URL",
              "displayName": "Doc URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Folder URL",
              "displayName": "Image Folder URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published URL",
              "displayName": "Published URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published Date",
              "displayName": "Published Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4160,
        -1728
      ],
      "id": "7a05beb2-3b19-4d57-8c22-f1ff8a6f255f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fSxvPKKWdM2zo3SQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let content = $json.blog_text || '';\n\n// Keep metadata untouched\nconst metadataMatch = content.match(/=== SEO METADATA ===[\\s\\S]*?=== END METADATA ===/);\nconst metadata = metadataMatch ? metadataMatch[0] : '';\n\n// Remove metadata from article body\ncontent = content.replace(/=== SEO METADATA ===[\\s\\S]*?=== END METADATA ===/, '');\n\n// Clean excessive blank lines\ncontent = content.replace(/\\n{3,}/g, '\\n\\n').trim();\n\n// Now process the body line-by-line, stripping brackets AND tracking heading positions\nconst lines = content.split('\\n');\nlet bodyText = '';\nconst headingRanges = [];\n\n// First, write the metadata block as-is\nlet plainText = metadata ? metadata + '\\n\\n' : '';\nconst bodyStartOffset = plainText.length;\n\nfor (let raw of lines) {\n  const line = raw.trim();\n\n  if (line === '') {\n    bodyText += '\\n';\n    continue;\n  }\n\n  let level = 0;\n  let cleanLine = line;\n\n  if (line.startsWith('[H1]')) {\n    level = 1;\n    cleanLine = line.substring(4).trim();\n  } else if (line.startsWith('[H2]')) {\n    level = 2;\n    cleanLine = line.substring(4).trim();\n  } else if (line.startsWith('[H3]')) {\n    level = 3;\n    cleanLine = line.substring(4).trim();\n  }\n\n  const startIndex = bodyStartOffset + bodyText.length;\n  bodyText += cleanLine + '\\n';\n  const endIndex = bodyStartOffset + bodyText.length;\n\n  if (level > 0) {\n    headingRanges.push({\n      level: level,\n      startIndex: startIndex + 1,  // Google Docs body starts at index 1\n      endIndex: endIndex\n    });\n  }\n}\n\nconst formattedContent = plainText + bodyText;\n\nreturn [{\n  json: {\n    formatted_content: formattedContent,\n    heading_ranges: headingRanges,\n    topic: $json.topic,\n    keyword: $json.keyword,\n    row_number: $json.row_number,\n    output_tokens: $json.output_tokens\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4784,
        -1696
      ],
      "id": "1772d6af-2a9e-4a86-8bb0-e39e68035f03",
      "name": "Format Headings"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU",
          "mode": "list",
          "cachedResultName": "DiMag_Content_Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 886259930,
          "mode": "list",
          "cachedResultName": "Blog Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RNbWcUdvYmUJumuYsW2sliXkojV821ZHxJoQk3JzU/edit#gid=886259930"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3952,
        -1728
      ],
      "id": "5aff78f1-94d6-4ef4-a700-53dfcf689247",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fSxvPKKWdM2zo3SQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3632,
        -1712
      ],
      "id": "55fe8c17-dfb2-41ab-aff5-29492d309cfa",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5bf512cb-a2ec-4a37-b4e5-19b1a4509a22",
              "leftValue": "={{ $json.Status?.trim().toLowerCase() === 'draft_ready' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3424,
        -1712
      ],
      "id": "3f623d43-7489-4f07-a799-378b6b62fdce",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Create a document').first().json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const text = $('Format Headings').first().json.formatted_content;\n  const ranges = $('Format Headings').first().json.heading_ranges;\n  \n  const requests = [\n    {\n      insertText: {\n        location: { index: 1 },\n        text: text\n      }\n    }\n  ];\n  \n  for (const h of ranges) {\n    requests.push({\n      updateParagraphStyle: {\n        range: { startIndex: h.startIndex, endIndex: h.endIndex },\n        paragraphStyle: { namedStyleType: 'HEADING_' + h.level },\n        fields: 'namedStyleType'\n      }\n    });\n  }\n  \n  return JSON.stringify({ requests: requests });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4400,
        -1728
      ],
      "id": "ebeaa983-58cf-4892-be7f-0146fa045920",
      "name": "HTTP Request1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SHsjPTGFaZFvZ8hz",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read input - use exact sheet column names (capital T)\nconst html = $json.clean_content || '';\nconst keyword = $json['Target Keyword'] || $json.keyword || '';\nconst imageFolderUrl = $json['Image Folder URL'] || $json.image_folder_url || '';\nconst topic = $json['Topic'] || $json.topic || '';\nconst rowNumber = $json.row_number;\n\n// Slugify helper\nfunction slugify(s) {\n  return (s || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 60);\n}\n\n// Extract folder ID\nconst folderMatch = imageFolderUrl.match(/folders\\/([a-zA-Z0-9_-]+)/);\nconst folderId = folderMatch ? folderMatch[1] : null;\n\n// FEATURED_ALT and FEATURED_LINK are in the metadata, which Parse SEO already stripped.\n// Try carried-forward fields first, then any source still available.\nconst featuredAlt = $json.featured_alt\n  || (($json.blog_text || '').match(/FEATURED_ALT:\\s*(.+)/) || [])[1]?.trim()\n  || (keyword ? keyword + ' overview' : 'article featured image');\n\nconst featuredLink = $json.featured_link\n  || (($json.blog_text || '').match(/FEATURED_LINK:\\s*(.+)/) || [])[1]?.trim()\n  || 'https://dimag.agency';\n\nconst keywordSlug = slugify(keyword) || 'blog';\n\n// Featured image spec\nconst specs = [{\n  is_featured: true,\n  source_filename: 'featured.png',\n  seo_filename: keywordSlug + '-featured.png',\n  alt_text: featuredAlt,\n  link_url: featuredLink,\n  position: 0\n}];\n\n// Parse inline [[IMAGE_N|alt|link]] placeholders\nconst inlineRegex = /\\[\\[IMAGE_(\\d+)(?:\\|([^\\]|]*))?(?:\\|([^\\]]*))?\\]\\]/g;\nconst inlineMatches = [];\nlet m;\nwhile ((m = inlineRegex.exec(html)) !== null) {\n  inlineMatches.push({\n    num: parseInt(m[1], 10),\n    alt: (m[2] || '').trim(),\n    link: (m[3] || '').trim(),\n    placeholder: m[0]\n  });\n}\n\nfor (const inline of inlineMatches) {\n  const altSlug = slugify(inline.alt) || (keywordSlug + '-' + inline.num);\n  specs.push({\n    is_featured: false,\n    source_filename: inline.num + '.png',\n    seo_filename: altSlug + '.png',\n    alt_text: inline.alt || (keyword + ' image ' + inline.num),\n    link_url: inline.link || 'https://dimag.agency',\n    position: inline.num,\n    placeholder: inline.placeholder\n  });\n}\n\nreturn specs.map(spec => ({\n  json: {\n    ...spec,\n    folder_id: folderId,\n    keyword: keyword,\n    topic: topic,\n    row_number: rowNumber,\n    clean_content: html,\n    article_title: $json.article_title,\n    seo_title: $json.seo_title,\n    meta_description: $json.meta_description,\n    slug: $json.slug\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5200,
        -1376
      ],
      "id": "8b05df7e-1ca0-457b-a4e1-86ae14c9a704",
      "name": "Parse Image Specs"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 5,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4992,
        -1376
      ],
      "id": "fb678bcf-ce15-4713-b1c8-30a7f3d0159c",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "osbbhEuCxcBnfoDW",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean HTML": {
      "main": [
        [
          {
            "node": "Parse SEO Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Doc ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Split Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Blogs": {
      "main": [
        [
          {
            "node": "Extract Doc ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Clean HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inline image insertion": {
      "main": [
        [
          {
            "node": "Build payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image Featured image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Inline image insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SEO Metadata": {
      "main": [
        [
          {
            "node": "Parse Image Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Prepare Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Images": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Featured Image3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Inline Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Featured Image3": {
      "main": [
        [
          {
            "node": "Upload image Featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Inline Image2": {
      "main": [
        [
          {
            "node": "Upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post content": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build payload": {
      "main": [
        [
          {
            "node": "Post content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "blog_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog_text": {
      "main": [
        [
          {
            "node": "Format Headings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        []
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Headings": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Split Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Specs": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "05d839db-b425-4999-9865-105c421a1d7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5de4c9913fbca4a0a58408858d3fc4628f2edde22fee143202a880074bd9231b"
  },
  "id": "MehIYEYeH64JSZzS",
  "tags": []
}